<font size = "13px;">Kaggle Competition - [MLB Forecasting](https://www.kaggle.com/c/mlb-player-digital-engagement-forecasting/data)</font>

**Binary columns** will have null values as well as zeroes. <br>
**Zeroes** will occur if a player had an opportunity to do something, but did not.<br>
**Nulls** will occur if a player never had the opportunity to do something (for example: a player who does not pitch on a given day cannot possibly pitch a shutout - therefore a null value is expected)

# Data Loading

In [ ]:
import sys
import csv

csv.field_size_limit(100000000)

In [19]:
from google.colab import drive
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

drive.mount('/content/gdrive')

filenames = ['teams', 'seasons', 'players', 'awards']
path = "/content/gdrive/My Drive/Colab Notebooks/MLB/"

for x in range(0, 6):
    globals()['train%s' % x] = pd.read_csv(path + "train_%s.csv" % x, engine = 'python', error_bad_lines=False)

for filename in filenames:
    globals()['%s' % filename] = pd.read_csv(path + "%s.csv" % filename, engine = 'python', error_bad_lines=False)

example_test = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/MLB/example_test.csv')
example_sample_submission = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/MLB/example_sample_submission.csv')

train = pd.concat([train0, train1, train2, train3, train4, train5], axis = 0)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [17]:
import ipywidgets as widgets

kaggle_data_tabs = widgets.Tab()
kaggle_data_tabs.children = list([widgets.Output() for df_name in df_names])

for index in range(0, len(df_names)):
    
    kaggle_data_tabs.set_title(index, df_names[index])
    
    with kaggle_data_tabs.children[index]:
        display(eval(df_names[index]))

display(kaggle_data_tabs)

Tab(children=(Output(), Output(), Output(), Output()), _titles={'0': 'teams', '1': 'seasons', '2': 'players', …

# EDA

# Preprocessing

In [13]:
train.isna().sum()

Unnamed: 0                    0
date                          0
nextDayPlayerEngagement       0
games                       577
rosters                       0
playerBoxScores             678
teamBoxScores               678
transactions                112
standings                   685
awards                      919
events                      680
playerTwitterFollowers     1172
teamTwitterFollowers       1172
dtype: int64

## JSON Parsing (reffering to [this template](https://www.kaggle.com/ruriarmandhani/mlb-forecasting-ann))

In [6]:
import tqdm
from datetime import timedelta

def json_to_df(df, column):
    num_rows = len(df)
    
    data_list = []
    for row in tqdm.tqdm(range(num_rows)):
        
        json_data = df.iloc[row][column]
        if str(json_data) != "nan":
            data = pd.read_json(json_data)
            data_list.append(data)
        
    all_data = pd.concat(data_list, axis = 0)
    
    return all_data

A 'player_engagement' column contatins 2018-01-01 ~ 2021-04-26 data.

In [7]:
player_engagement = json_to_df(train, 'nextDayPlayerEngagement')
player_engagement.insert(0, 'date', pd.to_datetime(player_engagement['engagementMetricsDate'])-\
                                                   timedelta(days=1))
player_engagement['engagementMetricsDate'] = pd.to_datetime(player_engagement['engagementMetricsDate'])
player_engagement.reset_index(drop=True, inplace=True)
print(player_engagement.shape)
player_engagement.head()

100%|██████████| 1212/1212 [00:24<00:00, 49.42it/s]

(2497932, 7)

        date engagementMetricsDate  playerId  ...    target2    target3    target4
0 2018-01-01            2018-01-02    628317  ...   4.474708   0.005168   5.735294
1 2018-01-01            2018-01-02    547989  ...   5.593385   0.045033   2.794118
2 2018-01-01            2018-01-02    519317  ...  56.177043  13.693746  64.166667
3 2018-01-01            2018-01-02    607625  ...   2.675097   0.005168   1.862745
4 2018-01-01            2018-01-02    592547  ...   0.632296   0.002953   0.931373

[5 rows x 7 columns]

In [9]:
player_engagement

              date engagementMetricsDate  ...    target3    target4
0       2018-01-01            2018-01-02  ...   0.005168   5.735294
1       2018-01-01            2018-01-02  ...   0.045033   2.794118
2       2018-01-01            2018-01-02  ...  13.693746  64.166667
3       2018-01-01            2018-01-02  ...   0.005168   1.862745
4       2018-01-01            2018-01-02  ...   0.002953   0.931373
...            ...                   ...  ...        ...        ...
2497927 2021-04-26            2021-04-27  ...   0.000000   0.194422
2497928 2021-04-26            2021-04-27  ...   0.000000   0.100563
2497929 2021-04-26            2021-04-27  ...   0.000000   0.583266
2497930 2021-04-26            2021-04-27  ...   0.000000   0.415661
2497931 2021-04-26            2021-04-27  ...   0.000000   0.060338

[2497932 rows x 7 columns]

In [8]:
train

     Unnamed: 0  ...                               teamTwitterFollowers
0             0  ...  [{"date":"2018-01-01","teamId":147,"teamName":...
1             1  ...                                                NaN
2             2  ...                                                NaN
3             3  ...                                                NaN
4             4  ...                                                NaN
..          ...  ...                                                ...
197        1207  ...                                                NaN
198        1208  ...                                                NaN
199        1209  ...                                                NaN
200        1210  ...                                                NaN
201        1211  ...                                                NaN

[1212 rows x 13 columns]

# Modeling

# Evaluation

[Nice template](https://www.kaggle.com/ryanholbrook/getting-started-with-mlb-player-digital-engagement)

In [14]:
import mlb
env = mlb.make_env() # initialize the environment
iter_test = env.iter_test() # iterator which loops over each date in test set

for (test_df, sample_prediction_df) in iter_test:
    sample_prediction_df['target1'] = 100 #make predictions here
    env.predict(sample_prediction_df)

       date  ... teamTwitterFollowers
0  20210426  ...                  NaN
1  20210427  ...                  NaN
2  20210428  ...                  NaN
3  20210429  ...                  NaN
4  20210430  ...                  NaN

[5 rows x 11 columns]