<font size = "13px;">Kaggle Competition - [MLB Forecasting](https://www.kaggle.com/c/mlb-player-digital-engagement-forecasting/data)</font>

**Binary columns** will have null values as well as zeroes. <br>
**Zeroes** will occur if a player had an opportunity to do something, but did not.<br>
**Nulls** will occur if a player never had the opportunity to do something (for example: a player who does not pitch on a given day cannot possibly pitch a shutout - therefore a null value is expected)

# Data Loading

In [8]:
import sys
import csv

csv.field_size_limit(100000000)

100000000

In [9]:
from google.colab import drive
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

drive.mount('/content/gdrive')

filenames = ['teams', 'seasons', 'players', 'awards']
path = "/content/gdrive/My Drive/Colab Notebooks/MLB/"

for x in range(0, 6):
    globals()['train%s' % x] = pd.read_csv(path + "train_%s.csv" % x, engine = 'python', error_bad_lines=False)

for filename in filenames:
    globals()['%s' % filename] = pd.read_csv(path + "%s.csv" % filename, engine = 'python', error_bad_lines=False)

example_test = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/MLB/example_test.csv')
example_sample_submission = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/MLB/example_sample_submission.csv')

train = pd.concat([train0, train1, train2, train3, train4, train5], axis = 0)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [10]:
import ipywidgets as widgets

kaggle_data_tabs = widgets.Tab()
kaggle_data_tabs.children = list([widgets.Output() for filename in filenames])

for index in range(0, len(filenames)):
    
    kaggle_data_tabs.set_title(index, filenames[index])
    
    with kaggle_data_tabs.children[index]:
        display(eval(filenames[index]))

display(kaggle_data_tabs)

Tab(children=(Output(), Output(), Output(), Output()), _titles={'0': 'teams', '1': 'seasons', '2': 'players', …

# EDA

# Preprocessing

In [11]:
train.isna().sum()

Unnamed: 0                    0
date                          0
nextDayPlayerEngagement       0
games                       577
rosters                       0
playerBoxScores             678
teamBoxScores               678
transactions                112
standings                   685
awards                      919
events                      680
playerTwitterFollowers     1172
teamTwitterFollowers       1172
dtype: int64

## JSON Parsing (reffering to [this template](https://www.kaggle.com/ruriarmandhani/mlb-forecasting-ann))

Function (Json => DataFrame)

In [12]:
import tqdm
from datetime import timedelta

def json_to_df(df, column):
    num_rows = len(df)
    
    data_list = []
    for row in tqdm.tqdm(range(num_rows)):
        
        json_data = df.iloc[row][column]
        if str(json_data) != "nan":
            data = pd.read_json(json_data)
            data_list.append(data)
        
    all_data = pd.concat(data_list, axis = 0)
    
    return all_data

In [13]:
train.head()

   Unnamed: 0  ...                               teamTwitterFollowers
0           0  ...  [{"date":"2018-01-01","teamId":147,"teamName":...
1           1  ...                                                NaN
2           2  ...                                                NaN
3           3  ...                                                NaN
4           4  ...                                                NaN

[5 rows x 13 columns]

A 'player_engagement' column contatins 2018-01-01 ~ 2021-04-26 data.

+ There's a day gap between 'date' & 'engagementMetricsDate'^.

In [14]:
player_engagement = json_to_df(train, 'nextDayPlayerEngagement')
player_engagement.insert(0, 'date', pd.to_datetime(player_engagement['engagementMetricsDate'])-\
                                                   timedelta(days=1))
player_engagement['engagementMetricsDate'] = pd.to_datetime(player_engagement['engagementMetricsDate'])
player_engagement.reset_index(drop=True, inplace=True)
print(player_engagement.shape)
player_engagement.head()

100%|██████████| 1212/1212 [00:21<00:00, 57.43it/s]

(2497932, 7)

        date engagementMetricsDate  playerId  ...    target2    target3    target4
0 2018-01-01            2018-01-02    628317  ...   4.474708   0.005168   5.735294
1 2018-01-01            2018-01-02    547989  ...   5.593385   0.045033   2.794118
2 2018-01-01            2018-01-02    519317  ...  56.177043  13.693746  64.166667
3 2018-01-01            2018-01-02    607625  ...   2.675097   0.005168   1.862745
4 2018-01-01            2018-01-02    592547  ...   0.632296   0.002953   0.931373

[5 rows x 7 columns]

- 'Date' & 'gameDate' mean the same - one will be eliminated later
- Columns associated with followers are not handled yet.

In [15]:
key = 0

if key == 0:

  ##### Auto Ver. ######
  cols_in_train = ['games', 'rosters', 'playerBoxScores', 'teamBoxScores', 'standings', 'events']

  for df in cols_in_train:
    
    globals()['%s' % df] = json_to_df(train, df)
    globals()['%s' % df].insert(0, 'date', pd.to_datetime(globals()['%s' % df]['gameDate']))
    globals()['%s' % df].drop(['gameDate'], axis = 1, inplace = True)
    globals()['%s' % df].reset_index(drop = True, inplace = True)


  ## special cases

  transactions = json_to_df(train, 'transactions')
  # transactions.insert(0, 'date', pd.to_datetime(transactions['gameDate'])) # Already having 'date' column
  transactions['date'] = pd.to_datetime(transactions['date'])
  transactions.reset_index(drop=True, inplace=True)

  award = json_to_df(train, 'awards')
  award.insert(0, 'date', pd.to_datetime(award['awardDate']))
  award['awardDdate'] = pd.to_datetime(award['awardDate'])
  award.reset_index(drop=True, inplace=True)
  
elif key == 1:

  ##### Manual Ver. #####
  games = json_to_df(train, 'games')
  games.insert(0, 'date', pd.to_datetime(games['gameDate']))
  games.drop(['gameDate'], axis = 1, inplace = True)
  games.reset_index(drop=True, inplace=True)

  rosters = json_to_df(train, 'rosters')
  rosters.insert(0, 'date', pd.to_datetime(rosters['gameDate']))
  rosters.drop(['gameDate'], axis = 1, inplace = True)
  rosters.reset_index(drop=True, inplace=True)

  playerBoxScores = json_to_df(train, 'playerBoxScores')
  playerBoxScores.insert(0, 'date', pd.to_datetime(playerBoxScores['gameDate']))
  playerBoxScores.drop(['gameDate'], axis = 1, inplace = True)
  playerBoxScores.reset_index(drop=True, inplace=True)

  teamBoxScores = json_to_df(train, 'teamBoxScores')
  teamBoxScores.insert(0, 'date', pd.to_datetime(teamBoxScores['gameDate']))
  teamBoxScores.drop(['gameDate'], axis = 1, inplace = True)
  teamBoxScores.reset_index(drop=True, inplace=True)

  standings = json_to_df(train, 'standings')
  standings.insert(0, 'date', pd.to_datetime(standings['gameDate']))
  standings.drop(['gameDate'], axis = 1, inplace = True)
  standings.reset_index(drop=True, inplace=True)

  events = json_to_df(train, 'events')
  events.insert(0, 'date', pd.to_datetime(events['gameDate']))
  events.drop(['gameDate'], axis = 1, inplace = True)
  events.reset_index(drop=True, inplace=True)


  ## special cases

  transactions = json_to_df(train, 'transactions')
  # transactions.insert(0, 'date', pd.to_datetime(transactions['gameDate'])) # Already having 'date' column
  transactions['date'] = pd.to_datetime(transactions['date'])
  transactions.reset_index(drop=True, inplace=True)

  award = json_to_df(train, 'awards')
  award.insert(0, 'date', pd.to_datetime(award['awardDate']))
  award['awardDdate'] = pd.to_datetime(award['awardDate'])
  award.reset_index(drop=True, inplace=True)

100%|██████████| 1212/1212 [00:08<00:00, 149.72it/s]
100%|██████████| 1212/1212 [00:12<00:00, 98.77it/s]
100%|██████████| 1212/1212 [00:22<00:00, 54.68it/s]
100%|██████████| 1212/1212 [00:09<00:00, 132.74it/s]
100%|██████████| 1212/1212 [00:09<00:00, 130.40it/s]
100%|██████████| 1212/1212 [02:05<00:00,  9.63it/s]
100%|██████████| 1212/1212 [00:12<00:00, 97.01it/s]
100%|██████████| 1212/1212 [00:01<00:00, 708.21it/s]

Parsed ,,train'' gonna be saved as pickle (or csv) file to be brought back anytime I want

In [ ]:
train.head()

   Unnamed: 0  ...                               teamTwitterFollowers
0           0  ...  [{"date":"2018-01-01","teamId":147,"teamName":...
1           1  ...                                                NaN
2           2  ...                                                NaN
3           3  ...                                                NaN
4           4  ...                                                NaN

[5 rows x 13 columns]

In [16]:
PARSED_DF = cols_in_train + ['player_engagement', 'transactions', 'award']

for df in PARSED_DF:
    globals()['%s' % df].to_csv('/content/gdrive/My Drive/Colab Notebooks/MLB/{}.csv'.format(df), index = False)

In [ ]:
## 0. player_engagement

In [ ]:
## 1. games

In [ ]:
games

           date  gamePk gameType  ...  awayWinPct awayWinner awayScore
0    2018-02-21  533782        E  ...       0.000      False       2.0
1    2018-02-22  534461        E  ...       0.000      False       1.0
2    2018-02-22  545334        E  ...       0.000      False       0.0
3    2018-02-22  547295        E  ...       0.000      False       2.0
4    2018-02-22  533784        E  ...       0.000      False       1.0
...         ...     ...      ...  ...         ...        ...       ...
7801 2021-04-26  634343        R  ...       0.652       True       2.0
7802 2021-04-26  634345        R  ...       0.500       True       2.0
7803 2021-04-26  634382        R  ...       0.565      False       2.0
7804 2021-04-26  634394        R  ...       0.333      False       3.0
7805 2021-04-26  634451        R  ...       0.667       True       3.0

[7806 rows x 32 columns]

In [ ]:
## 2. rosters

In [ ]:
## 3. playerBoxScores

In [ ]:
## 4. teamBoxScores

In [ ]:
## 5. standings

In [ ]:
## 6. events

In [ ]:
## 7. transactions

In [ ]:
## 8. awards
award

           date    awardId  ... awardPlayerTeamId awardDdate
0    2018-01-15    VWLCPOY  ...             699.0 2018-01-15
1    2018-01-15     VWLPOY  ...             699.0 2018-01-15
2    2018-01-15     VWLMOY  ...             695.0 2018-01-15
3    2018-01-15    VWLRLOY  ...             694.0 2018-01-15
4    2018-01-15    VWLOPOY  ...             699.0 2018-01-15
...         ...        ...  ...               ...        ...
5902 2021-04-18      ALPOW  ...             145.0 2021-04-18
5903 2021-04-25      NLPOW  ...             109.0 2021-04-25
5904 2021-04-25      NLPOW  ...             135.0 2021-04-25
5905 2021-04-25  MLBPLAYOW  ...             147.0 2021-04-25
5906 2021-04-25      ALPOW  ...             140.0 2021-04-25

[5907 rows x 9 columns]

## Intergrated data with '____' column shared

In [ ]:
cols_in_train

['games', 'rosters', 'playerBoxScores', 'teamBoxScores', 'standings', 'events']

In [ ]:
games

           date  gamePk gameType  ...  awayWinPct awayWinner awayScore
0    2018-02-21  533782        E  ...       0.000      False       2.0
1    2018-02-22  534461        E  ...       0.000      False       1.0
2    2018-02-22  545334        E  ...       0.000      False       0.0
3    2018-02-22  547295        E  ...       0.000      False       2.0
4    2018-02-22  533784        E  ...       0.000      False       1.0
...         ...     ...      ...  ...         ...        ...       ...
7801 2021-04-26  634343        R  ...       0.652       True       2.0
7802 2021-04-26  634345        R  ...       0.500       True       2.0
7803 2021-04-26  634382        R  ...       0.565      False       2.0
7804 2021-04-26  634394        R  ...       0.333      False       3.0
7805 2021-04-26  634451        R  ...       0.667       True       3.0

[7806 rows x 33 columns]

In [ ]:
transactions # date

       transactionId  ...                                        description
0             340732  ...  Los Angeles Dodgers signed free agent RHP C.C....
1             339458  ...  Milwaukee Brewers traded RHP Dylan Baker to Lo...
2             357292  ...  New York Yankees signed free agent SS Angel Ro...
3             341123  ...  New York Yankees signed free agent 2B Jace Pet...
4             339458  ...  Milwaukee Brewers traded RHP Dylan Baker to Lo...
...              ...  ...                                                ...
40907         480395  ...  Kansas City Royals sent RHP Brad Brach outrigh...
40908         479900  ...  Detroit Tigers sent 3B Renato Nunez outright t...
40909         479905  ...  Minnesota Twins optioned SS Nick Gordon to Twi...
40910         479880  ...  Chicago White Sox optioned RHP Jonathan Stieve...
40911         479379  ...  New York Yankees optioned RHP Nick Nelson to Y...

[40912 rows x 13 columns]

In [ ]:
awards # awardDate

           date    awardId  ... awardPlayerTeamId awardDdate
0    2018-01-15    VWLCPOY  ...             699.0 2018-01-15
1    2018-01-15     VWLPOY  ...             699.0 2018-01-15
2    2018-01-15     VWLMOY  ...             695.0 2018-01-15
3    2018-01-15    VWLRLOY  ...             694.0 2018-01-15
4    2018-01-15    VWLOPOY  ...             699.0 2018-01-15
...         ...        ...  ...               ...        ...
5902 2021-04-18      ALPOW  ...             145.0 2021-04-18
5903 2021-04-25      NLPOW  ...             109.0 2021-04-25
5904 2021-04-25      NLPOW  ...             135.0 2021-04-25
5905 2021-04-25  MLBPLAYOW  ...             147.0 2021-04-25
5906 2021-04-25      ALPOW  ...             140.0 2021-04-25

[5907 rows x 9 columns]

# Modeling

[MultiOutputRegression](https://stackoverflow.com/questions/39540123/muti-output-regression-in-xgboost)

[MultiOutputRegression(Scikit-learn)](https://scikit-learn.org/stable/modules/generated/sklearn.multioutput.MultiOutputRegressor.html)

In [ ]:
https://scikit-learn.org/stable/modules/generated/sklearn.multioutput.MultiOutputRegressor.html

SyntaxError: ignored

# Evaluation

[Nice template](https://www.kaggle.com/ryanholbrook/getting-started-with-mlb-player-digital-engagement)

In [ ]:
import mlb
env = mlb.make_env() # initialize the environment
iter_test = env.iter_test() # iterator which loops over each date in test set

for (test_df, sample_prediction_df) in iter_test:
    sample_prediction_df['target1'] = 100 #make predictions here
    env.predict(sample_prediction_df)

       date  ... teamTwitterFollowers
0  20210426  ...                  NaN
1  20210427  ...                  NaN
2  20210428  ...                  NaN
3  20210429  ...                  NaN
4  20210430  ...                  NaN

[5 rows x 11 columns]